body{
    margin: 0;
    padding: 0;
    background-color: #ECEBEC;
    font-family: sans-serif, Roboto;
    line-height: 1.5;
}

.feedbackbutton{
    position: fixed;
    right: -34px;
    top: 50%;
    rotate: -90deg;
    background-color: #e5f6f4;
    border-color: #00a296;
    width: 100px;
    height: 35px;
    color: #004c4c;
}

header{
    background-color: #ffffff;
    ul{
        list-style: none;
    }
    section.top-deel{
        ul.taalswitch{
        margin-left: -30px;
            li{
                display: inline-block;
                color: #cfcfcf;
                margin-left: 5px;
                a{
                    text-decoration: none;
                    color: #00716b;
                }
            }
        }
        a.privebutton{
            color: black;
            text-decoration: none;
            margin-right: 10px;
            align-content: center;
        }
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }
    section.bottom-deel{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        #abnlogo{
            height: 40px;
            width: 140px;
            margin: 10px;
        }
        .inloggenbutton{
            text-decoration: none;
            color: black;
            background-color: #F5CD33;
            padding: 15px 20px 15px 50px;
            margin: 10px;
        }
    }
    nav.navbar{
        background-color: #006260;
        ul.navbarlinks{
            margin: 0;
            padding: 0;
            li{
                display: inline;
                a{
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
    }
}
footer{
    background-color: #17928c;
    color: #ffffff;
    section.topdeelfooter{
        margin-left: 20px;
        h2.hulpnodigheading{
            padding-top: 20px;
            font-size: 14px;
            margin-bottom: 30px;
        }
        p{
            margin-top: 10px;
            margin-bottom: 40px;
            font-size: 14px;
        }
        a{
            text-decoration: none;
            color: white;
            .contactbutton p{
                display: flex;
                align-items: center;
                background-color: #0b7774; 
                width: 90%;
                height: 40px;
                font-size: 14px;
                margin-top: 20px;
            }
            .contactbutton img{
                width: 80px;
                height: 80px;
                position: relative;
                left: -20px;
                top: -6px;
            }
        }
    }
    section.bottomdeelfooter{
        background-color: #ecebec;
        ul.linklist{
            padding-top: 20px;
            text-align: center;
            margin-left: -30px;
            li{
                display: inline-block;
                color: #cfcfcf;
                margin-left: 5px;
                a{
                    text-decoration: none;
                    color: #00928e;
                }
            }
        }
        ul.sociallist{
            display: flex;
            justify-content: center;
            padding: 0;
            li{
                display: inline-block;
                list-style: none;
            }
        }
        p{
            color: black;
            font-style: italic;
            text-align: center;
            font-size: 12.6px;
            opacity: 70%;
        }
    }
}
