/* == ALGEMENE CSS ==*/
html body{
    margin: 0;
    padding: 0;
    background-color: #ECEBEC;
    font-family: sans-serif, Roboto;
    line-height: 1.5;
}

textarea{
    height: 80px;
    resize: none;
    padding-bottom: 10px;
    border-color: black;
}

textarea:hover{
    border-color: #00716b;
}

select{
    margin-bottom: 10px;
}
/* === FEEDBACKBUTTON EN POPOVER ===*/
.feedbackbutton {
    position: fixed;
    right: -34px;
    top: 50%;
    rotate: -90deg;
    background-color: #e5f6f4;
    border-color: #00a296;
    width: 100px;
    height: 35px;
    color: #004c4c;
    cursor: pointer;
}

[popover] {
    background: white;
    color: black;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    transition: translate 0.7s ease-out, display 0.7s ease-out allow-discrete, overlay 0.7s ease-out allow-discrete;
    translate: 0 80rem;
    padding: 30px 40px;
    h3{
        font-weight: bold;
        font-size: 12px;
        margin: 0;
    }
    p{
        margin: 0 0 10px 0;
        font-size: 9px;
    }
    button.verstuurbutton{
        background-color: #FFD200;
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 3px;
        padding-left: 20px;
        align-items: center;
    }
    button.verstuurbutton:hover{
        cursor: pointer;
        opacity: 70%;
    }
    @media only screen and (max-width: 600px) and (min-width: 0px){
        width: 80%;
        height: 80%;
    }
    @media only screen and (min-width: 600px){
        width: 350px;
        height: 50%;
    }
}

/* == ANIMATIE POPOVER ==*/

/*   IS-OPEN STATE   */
[popover]:popover-open {
    translate: 0 30%;
    display: flex;
}

/*   0. BEFORE-OPEN STATE   */
@starting-style {
    [popover]:popover-open {
    translate:0 100rem;
  }
}

p.disclaimer{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 0;
}

/* == HEADER CODE ==*/
header{
    background-color: #ffffff;
    ul{
        list-style: none;
    }
    section.topdeelheader{
        ul.taalswitch{
        margin-left: -30px;
            li{
                display: inline-block;
                color: #cfcfcf;
                margin-left: 5px;
                a{
                    text-decoration: none;
                    color: #00716b;
                }
            }
        }
        a.privebutton{
            color: black;
            text-decoration: none;
            margin-right: 10px;
            align-content: center;
        }
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }
    section.bottomdeelheader{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        #abnlogo{
            height: 40px;
            width: 140px;
            margin: 10px;
        }
        .inloggenbutton{
            text-decoration: none;
            color: black;
            background-color: #F5CD33;
            padding: 15px 20px 15px 50px;
            margin: 10px;
        }
    }
    nav{
        background-color: #006260;
        overflow: auto;
        white-space: nowrap;
        ul.navbarlinks{
            margin: auto;
            max-width: 1210px;
            height: 48px;
            width: calc(100vw - 1.25rem - 46px);
            display: flex;
            align-items: center;
            li{
                display: inline;
                padding: 0px 16px;
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
        ul.navbarlinks li:hover{
            background-color: #00716b;
            transition: 200ms;
        }
        @media only screen and (max-width: 764px){
            ul li:nth-of-type(1){/* == verwijdert home ==*/
                display: none;
            }
        }
    }
    section.productendropdownblock{
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 20px 0px 20px 30px;
        background: #00675e linear-gradient(135deg,#005e5d 0,#00877d 58%,#00756f 58%,#009185 100%);
        .kruisknop{
            cursor: pointer;
            position: absolute;
            width: 30px;
            height: 30px;
            right: 50px;
        }
        ul.productendropdown{
            a{
                color: #ffffff;
                text-decoration: none;
                font-size: 18px;
            }
            li{
                margin-bottom: 10px;
            }
        }
        @media only screen and (min-width: 800px){
            height: 368px;
            ul.productendropdown{
                li{
                    margin-left: 5%;
                }
            }
        }
    }
    section.productendropdownblock[hidden] {
        display: none; /* Verberg met hidden-status*/
    }
}
/* == MAIN CODE ==*/
main{
    /* == ALGEMENE STYLING VOOR BLOCKS ==*/
    img.achtergrondimage{
        display: none;
    }
    section.mainheading{
        padding: 24px 12px 0 12px;
        margin-bottom: 16px;
        h1{
            width: fit-content;
            margin: 0 0 8px 0;
            padding: 0;
        }
        .heading2main1{
            margin: 0 0 8px 0;
            padding: 0;
        }
    }
    section.block1, .block2,.block3{
        padding: 0 12px;
    }
    .contentbox1,.contentbox2,.contentbox3{
        background-color: #ffffff;
        padding: 16px;
        margin-bottom: 30px;
    }
    /* == TELEFOON STYLING ==*/
    @media only screen and (max-width: 800px) and (min-width: 0px){
        section.mainheading{
            padding: 24px 12px 0 12px;
            margin-bottom: 16px;
            h1{
                font-size: 24px;
            }
            .heading2main1{
                font-size: 18px;
            }
        }
    }
    /* == DESKTOP/IPAD LAYOUT CHANGE ==*/
    @media only screen and (min-width: 980px){
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 28px;
        }
        p{
            font-size: 24px;
        }
        img.achtergrondimage{
            width: 100%;
            display: block;
        }
        .contentlayout{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

/* == FOOTER CODE ==*/
footer{
    background-color: #17928c;
    color: #ffffff;
    /* == FOOTER IN 2 DELEN (BOVENSTE DEEL) ==*/
    section.topdeelfooter{
        padding: 20px;
        margin: 0;
        h2.hulpnodigheading{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
        a{
            text-decoration: none;
            color: white;
            .contactbutton p{
                display: flex;
                align-items: center;
                background-color: #0b7774; 
                width: 90%;
                height: 40px;
                font-size: 14px;
            }
            .contactbutton img{
                width: 80px;
                height: 80px;
                position: relative;
                left: -20px;
                top: -6px;
            }
        }
    }
    /* == (ONDERSTE DEEL ALGEMEEN) ==*/
    section.bottomdeelfooter{
        background-color: #ecebec;
        padding: 20px;
        ul.linklist{
            padding: 0;
            li{
                display: inline-block;
                color: #cfcfcf;
                a{
                    text-decoration: none;
                    color: #00928e;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        ul.sociallist{
            padding: 0;
            li{
                display: inline-block;
                list-style: none;
            }
        }
        p{
            color: black;
            font-style: italic;
            font-size: 12.6px;
            opacity: 70%;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    section.snelzelfregelentab{
        display: none; /*Hide de snel zelfregelen tab, en laat deze pas zien bij de mediaquery */
    }

    /* == IPAD STYLING VAN 1024 PX tot 801 PX (BOVENSTE DEEL) ==*/
    @media only screen and (max-width: 1024px) and (min-width: 801px){
            section.topdeelfooter{
                .TextEnButton{
                    display: grid; 
                    grid-template-columns: 1fr 1fr; 
                    align-items: center;
                }
                h2.hulpnodigheading{
                    margin: 0 0 30px 0;
                }
                p:not(.contactbutton p){
                    margin: 0 0 20px 0;
                }
                a .contactbutton{
                    margin-top: 40px;
                }
                .ExtraInfoLijst{
                    display: none;
                }
                .telefoonpicca{
                    display: none;
                }
            }
            section.snelzelfregelentab{
                display: block; /*Laat pas de snelzelfregelntab zien vanaf 801px tot aan 1024px*/
                padding: 20px;
                text-align: center;
                background-color: #0B7774;
                a{
                    text-decoration: none;
                    color: #ffffff;
                }
            }
            section.desktopmeerinfotab{
                display: none;
            }
        }

    /* == TELEFOON STYLING (BOVENSTE DEEL) ==*/
    @media only screen and (max-width: 800px) and (min-width: 0px){
        section.topdeelfooter{
            h2.hulpnodigheading{
                margin: 0 0 30px 0;
            }
            p:not(.contactbutton p){
                margin: 0 0 40px 0;
            }
            .contactbutton{
                margin: 0;
                padding: 0;
            }
            .ExtraInfoLijst{
                display: none;
            }
            .telefoonpicca{
                display: none;
            }
        }
        section.desktopmeerinfotab{
            display: none;
        }
    }
    /* == FOOTER LAYOUT VERANDERD NA 1024 PIXELS (ONDERSTE DEEL) ==*/
    @media only screen and (max-width: 1024px) and (min-width: 0px){
        section.bottomdeelfooter{
            ul.linklist{
                text-align: center;
                li{
                    margin-left: 5px;
                }
            }
            ul.sociallist{
                display: flex;
                justify-content: center;
            }
            p{
                text-align: center;
            }
        }
    }
    /* ---- Desktop deel vanaf 1024 px (Bottomdeel footer) ---- */
    @media only screen and (min-width: 1025px){
        section.topdeelfooter{
            display: grid;
            grid-template-columns: 0.5fr 1fr 1fr; 
            .telefoonpicca{
                position: relative;
                top: 20%;
            }
        }
        section.bottomdeelfooter{
            display: grid; 
            grid-template-columns: 1.8fr 0.7fr 0.5fr; 
            ul.linkilist{
                text-align: left;
            }
            ul.sociallist{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            p{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
        section.desktopmeerinfotab{
            color: #ffffff;
            background-color: #0B7774;
            padding: 40px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }
        /* ---- Styling voor lists en hover animatie ---- */
        .topdeelfooter,.desktopmeerinfotab{
            li{
                list-style: none;
            }
            li:before { /* Pijl styling ---- */
                content: "🡢";
                font-size: 14px;
                color: white;
                margin-right: 10px;
            }
              li:hover{
                margin-left: 16px;
                transition-duration: 100ms;
                transition-timing-function: ease-in-out;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
